<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>3D Uber</title>
  <link rel="stylesheet" href="/static/css.css">
  <link rel="icon" type="image/png" href="/static/logo.png">
</head>
<body>
  <header>
    <nav>
      <a href="main.html">Home</a>
      <a href="{{ request.url_for('main') }}">About Us</a>
    </nav>
  </header>
  <main>
    <h1>Welcome to 3D Hub</h1>
    <p>This is the homepage of our 3D printing service.</p>
  </main>
</body>
</html>